.container {
	display: none;
	overflow: auto;
}

.user-div-generic {
	display: none;
}

button, .ui-element {
	width: 48%;
	height: 100vh;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
	background-color: white;
	color: black;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 10px;
	transition: background-color 0.1s;
}

.ui-element-2 {
	width: 100%;
	height: 100vh;
	margin-left: 1%;
	margin-right: 1%;
	background-color: white;
	color: black;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 10px;
	transition: background-color 0.1s;
	text-align: center;
}

button {
	font-size: 8em;
}

button:focus {
	outline: none;
}

button:active {
	background-color: blue;
}

.glyphicon {
	margin: 1vh;
}


body {
	background-color: black;
}

.ui-font-l {
	font-family: 'Luckiest Guy';
	text-align: center;
	height: 20vh;
	margin-top: 40vh;
	font-size: 15vh;
}

.ui-middle {
	margin-top: 20vh;
	font-family: 'Luckiest Guy';
	text-align: center;
	font-size: 9vh;
}

.ui-font-m {
	font-family: 'Luckiest Guy';
	text-align: center;
	height: 20vh;
	margin-top: 40vh;
	font-size: 2em;
}

.ui-top {
	margin-top: 10vh;
}

.ui-top-lower {
	margin-top: 15vh;
}

img {
	height: 60vh;
}

.container-trump img {
	height: 40%;
}